{% extends 'Admin/base.html' %}

{% block title %}
    密码找回
{% endblock %}

{% block body %}
<body class="h-100 no-sidemenu">
    <div class="loader container-fluid">
        <div class="row h-100">
            <div class="col-auto align-self-center  mx-auto text-center">
                <div class="loader-ripple"><div></div><div></div></div>
                <h2>加载中</h2>
                <p>来杯热茶~</p>
            </div>
        </div>
    </div>


    <div class="wrapper">
        <div class="content shadow-sm position-relative">
            <header class="header">
                <!-- Fixed navbar -->
                <nav class="container-fluid">
                    <div class="row">
                        <div class="col align-self-center">
                            <a href="" class="logo text-white">
                                <img src="../../static/assets/img/logoicon.svg" alt="" class="logo-icon">
                                <div class="logo-text">
                                    <h5 class="fs22 mb-0">招聘信息网 <sup class="badge badge-danger">精准</sup></h5>
                                    <p class="text-uppercase fs11">实时掌握大数据</p>
                                </div>
                            </a>
                        </div>
                        <div class="col text-right align-self-center">
                            <a href="/admin/register" class="btn btn-sm btn-primary text-uppercase">注 册</a>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="background opac blur">
                <img src="../../static/assets/img/newzimage.png" alt="">
            </div>

            <!-- Main container starts -->
            <div class="container main-container" id="main-container">
                <div class="row login-row-height">
                    <div class="col-12 col-md-6 col-lg-7 d-none d-md-flex"></div>
                    <div class="col-12 col-md-6 col-lg-5 col-xl-4  align-self-center">
                        <div class="card border-0 shadow-lg blur">
                            <div class="card-body py-5">
                                <h5 class="font-weight-light mb-1 text-mute-high">Forget</h5>
                                <h3 class="font-weight-normal mb-4">Password Back</h3>
                                <div class="card  mb-2 overflow-hidden">
                                    <div class="card-body p-0">
                                        <label for="inputusername" class="sr-only">请输入用户名</label>
                                        <input type="email" id="inputusername" class="form-control rounded-0 border-0" placeholder="用 户 名" required="" autofocus="">
                                        <hr class="my-0">
                                        <label for="randomnumber" class="sr-only">请输入验证码</label>
                                        <div style="display: flex;">
                                            <input style="flex: 1" type="text" id="randomnumber" class="form-control rounded-0 border-0" placeholder="验 证 码" required="">
                                            <button id="sendnumber" style="margin-bottom: 0!important;" type="button" class="mb-2 btn btn-outline-warning">发送</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-3 row">
                                    <div class="col-12 col-md py-1" style="opacity: 0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                                            <label class="custom-control-label" for="customCheck1">Remember Me</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md py-1 text-left text-md-right">
                                        <a href="/admin/resetpassword" class="template-primary">忘记密码?</a>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <a href=javascript:void(0) id="doreset" class=" btn btn-primary btn-block">申 请 <i class="material-icons md-18">arrow_forward</i></a>
                                </div>
                                <div class="">
                                    <p class="text-mute">
                                        突然想起来了吗<br>
                                        请在这里<a href="/admin/login" class="text-template-primary-light">登 陆</a>吧
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--弹窗-->
            <div class="alert alert-danger" id="alert" style="width: 300px;text-align: center;position: fixed;z-index: 99;top: 100px;left: 40%;display: none;">
                    This is a danger alert—check it out!
            </div>



            <!-- Main container ends -->
        </div>
        <footer class="footer" style="opacity: 0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md text-center text-md-left align-self-center">
                        <p>All rights reserved by <a href="http://www.bootstrapmb.com/">Maxartkiller</a></p>
                    </div>
                    <div class="col-12 col-md-auto text-center text-md-right">
                        <ul class="nav justify-content-center justify-md-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Terms of use</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Privacy Policy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contactus.html">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>

{% endblock %}
{% block login %}
    <script>
        $(function () {
            $("#inputusername").change(function () {
                var username_value = $("#inputusername").val();
                if(username_value.length===0||username_value.length>10||username_value.indexOf(" ")!=-1){
                    $("#alert").text('用户名不能为空或长度超过10或密码中有空格！');
                    $("#alert").fadeIn(1000);
                    $("#alert").fadeOut(4000);
                }
                else{

                }
            });

            $("#sendnumber").click(function () {
                var username_value = $("#inputusername").val();
                if(username_value.length === 0){
                    $("#alert").text('用户名不能为空!');
                    $("#alert").fadeIn(1000);
                    $("#alert").fadeOut(4000);
                }
                else{
                    var data_data = JSON.stringify({'nowname':username_value});
                    $.ajax({
                        type:'POST',
                        contentType:'application/json; charset=utf-8',
                        dataType:'json',
                        url:'/admin/randomNumber2',
                        data:data_data,
                        success:function (data) {
                            if (data['err'] === 0){
                                $("#alert").html('发送成功');
                                $("#alert").fadeIn(1000);
                                $("#alert").fadeOut(1000);
                                var s = 30;
                                $("#sendnumber").html(s + "S");
                                $("#sendnumber").prop("disabled", true);
                                var timer = window.setInterval(function () {
                                    --s;
                                    if (s === 0) {
                                        window.clearInterval(timer);
                                        $("#sendnumber").html("发送");
                                        $("#sendnumber").prop("disabled", false);
                                        return;
                                    }
                                    $("#sendnumber").html(s + "S");
                                }, 1000);
                                }
                            else{
                                $("#alert").html(data['err']);
                                $("#alert").fadeIn(1000);
                                $("#alert").fadeOut(4000);
                            }

                        },
                        error:function () {}
                    });
                }
            });

            $("#doreset").click(function () {
                var username_value = $("#inputusername").val();
                var randomnumber = $("#randomnumber").val();
                if (username_value.length === 0 || randomnumber.length === 0){
                    $("#alert").html('用户名或者验证码不能为空!');
                    $("#alert").fadeIn(1000);
                    $("#alert").fadeOut(4000);
                }
                else{
                    data_data = JSON.stringify({'username_value':username_value,'randomnumber':randomnumber});
                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json; charset = UTF-8',
                        dataType: 'json',
                        url: '/admin/resetpassword',
                        data: data_data,
                        success:function (data) {
                            if (data.err === 0){
                                //密码找回成功
                                $("#alert").text('找回成功，请留意邮箱');
                                $("#alert").fadeIn(1000);
                                $("#alert").fadeOut(4000);
                                setTimeout(function () {
                                    window.location.href = '/admin/login'
                                },2000);
                            }
                            else{
                                $("#alert").text(data.err);
                                $("#alert").fadeIn(1000);
                                $("#alert").fadeOut(4000);
                            }
                        },
                        error:function () {
                            alert(9999);
                        }
                    })
                }
            });
        })

    </script>
{% endblock %}

