{% extends 'Main_ui/base.html' %}

{% block title %}
    招聘信息网
{% endblock %}

{% block body %}

    <!-- Main container starts -->
    <div class="container main-container" id="main-container">
        <div class="login-row-height row">
            <div class="col-md-8 col-lg-6 col-xl-5 mx-auto align-self-center">
                <div class="card border-0 shadow-sm mb-4">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-lg-12 col-md-12 text-center">
                                <img src="../../static/assets/img/logoicon.svg" alt="" class="w-50px mt-4">
                                <h4 class="mt-3 mb-1">修改密码</h4>
                                <p class="text-mute">当前用户:&nbsp<span id="nowuname">{{ uname }}</span></p>
                                <h1 class="my-4" id="nowtime"></h1>
                            </div>
                        </div>
                        <br>
                        <div class="row ">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group ">
                                    <label>请输入新的密码</label>
                                    <input style="text-align:center" id="newpass" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group ">
                                    <label>请输入验证码</label>
                                    <div style="display: flex;">
                                        <input id="randomnumber" style="text-align:center;margin-right: 15px;flex: 1" type="text" class="form-control" placeholder="">
                                        <button id="sendnumber" type="button" class="mb-2 btn btn-outline-warning">发送</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <p style="margin: 0 20px 0 20px;flex: 1" class="card-text mb-auto text-template-primary-light">我们将发送验证码到您的邮箱，请耐心查看验证码!</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-block" id="update">修 改</button>
                    </div>
                </div>
            </div>
        </div>
            <!--弹窗-->
    <div class="alert alert-danger" id="alert" style="width: 300px;text-align: center;position: fixed;z-index: 99;top: 100px;left: 40%;display: none">

    </div>
    </div>
    <!-- Main container ends -->


{% endblock %}

{% block script %}
    <script>
        function displayTime(){
            var elt = document.getElementById("nowtime");
            var now = new Date();
            elt.innerHTML  = now.toLocaleTimeString();
            setTimeout(displayTime,1000);
            }
        window.onload = displayTime;

        $(function () {
            $("#sendnumber").click(function () {
                var uname = $("#nowuname").html();
                var data_data = JSON.stringify({'nowname':uname});
                $.ajax({
                    type:'POST',
                    contentType:'application/json; charset=utf-8',
                    dataType:'json',
                    url:'/admin/randomNumber',
                    data:data_data,
                    success:function (data) {

                        if (data['err'] === 0){
                            $("#alert").html('发送成功');
                            $("#alert").fadeIn(1000);
                            $("#alert").fadeOut(4000);
                            var s = 30;
                            $("#sendnumber").html(s + "S");
                            $("#sendnumber").prop("disabled", true);

                            var timer = window.setInterval(function () {
                                --s;
                                if (s === 0) {
                                    window.clearInterval(timer);
                                    $("#sendnumber").html("发送");
                                    $("#sendnumber").prop("disabled", false);
                                    return;
                                }
                                $("#sendnumber").html(s + "S");
                            }, 1000);
                            }
                        else{
                            $("#alert").html(data['err']);
                            $("#alert").fadeIn(1000);
                            $("#alert").fadeOut(4000);
                        }
                    },
                    error:function () {}
                });
            });

            $("#update").click(function () {
                var newpass = $("#newpass").val();
                if(newpass.length===0||newpass.length>16||newpass.indexOf(" ")!=-1) {
                    $("#alert").html('密码不能为空或长度超过16或密码中有空格！');
                    $("#alert").fadeIn(1000);
                    $("#alert").fadeOut(5000);
                }
                else{
                    var randomnumber = $("#randomnumber").val();
                    var data_data = JSON.stringify({'newpass':newpass,'randomnumber':randomnumber});
                    $.ajax({
                        type:'POST',
                        contentType:'application/json; charset=utf-8',
                        dataType:'json',
                        url:'/admin/updatepassword',
                        data:data_data,
                        success:function (data) {
                            if (data['err'] === 0){
                                $("#alert").html('修改成功！');
                                $("#alert").fadeIn(1000);
                                $("#alert").fadeOut(5000);
                                $("#newpass").val('');
                                $("#randomnumber").val('');
                                setTimeout(function () {
                                    window.location.reload()
                                },1500)
                                }
                            else{
                                $("#alert").html(data['err']);
                                $("#alert").fadeIn(1000);
                                $("#alert").fadeOut(3000);
                            }
                        },
                        error:function () {}
                    });
                }
            })

        })

    </script>
{% endblock %}
