<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}  {% endblock %}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Worlds Best Admin UX Dashbaoard PRO version for bootstrap template, Select, Calandar, Report, Charts, Tables etc." name="description" />
    <link rel="shortcut icon" href="../../static/assets/img/logoicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="../../static/assets/vendor/material-icons/material-icons.css" rel="stylesheet">
    <link href="../../static/assets/vendor/flags/css/flag-icon.min.css" rel="stylesheet">
    <link href="../../static/assets/vendor/daterangepicker-master/daterangepicker.css" rel="stylesheet">
    <link href="../../static/assets/vendor/jquery-jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet">
    <link href="../../static/assets/vendor/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="../../static/assets/vendor/jquery-toast-plugin-master/dist/jquery.toast.min.css" rel="stylesheet">
    <link href="../../static/assets/vendor/DataTables-1.10.18/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="../../static/assets/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="../../static/assets/css/bootstrap.css" rel="stylesheet" id="stylelink2">
    <link href="../../static/assets/css/style-darkblue-dark.css" rel="stylesheet" id="stylelink">
    <link href="../../static/assets/css/style.css" rel="stylesheet">
    <link href="../../static/assets/css/style_load.css" rel="stylesheet">
</head>
<style>
    .jq-toast-wrap {
        top: 20px;
    }
    .jq-toast-heading{
        text-align: center;
    }
</style>
<!--<body>-->

<body class="sidemenu-open">
    <div class="loader container-fluid">
<div class="row h-100">
    <div class="col-auto align-self-center  mx-auto text-center">
        <div class="loader-ripple"><div></div><div></div></div>
        <h2>加载中</h2>
        <p>来杯热茶~</p>
    </div>
</div>
</div>

    <!-- Sidebar starts -->
    <div class="sidebar">
        <!-- Logo sidebar -->
        <a href="" class="logo">
            <img src="../../static/assets/img/logoicon.svg" alt="" class="logo-icon">
            <div class="logo-text">
                <h5 class="fs22 mb-0">招聘信息网 <sup class="badge badge-danger">精准</sup></h5>
                <p class="text-uppercase fs11">实时掌握大数据</p>
            </div>
        </a>
        <!-- Logo sidebar ends -->

        <!-- Navigation menu sidebar-->
        <h6 class="subtitle fs11">大数据主页</h6>
        <ul class="nav flex-column">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)"><i class="material-icons icon">dashboard</i><span>数据面板</span> <i class="material-icons arrow">expand_more</i></a>
                <div class="nav flex-column">
                    <div class="nav-item"><a class="nav-link" href="/"><span>数据主页</span></a></div>
                    <!--<div class="nav-item"><a class="nav-link" href="index.html"><span>Networking</span></a></div>-->
                </div>
            </li>
        </ul>
        <h6 class="subtitle fs11">我的信息</h6>
        <ul class="nav flex-column">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)"><i class="material-icons icon">games</i><span>个人中心</span> <i class="material-icons arrow">expand_more</i></a>
                <div class="nav flex-column">
                    <div class="nav-item"><a class="nav-link" href="/admin/info"><span>留言中心</span></a></div>
                    <div class="nav-item"><a class="nav-link" href="/admin/deletemessage"><span>删除留言</span></a></div>
                    <div class="nav-item"><a class="nav-link" href="/admin/updateuname"><span>修改用户名</span></a></div>
                    <div class="nav-item"><a class="nav-link" href="/admin/updatehead"><span>修改头像</span></a></div>
                    <div class="nav-item"><a class="nav-link" href="/admin/updatepassword"><span>修改密码</span></a></div>
                    <div class="nav-item"><a class="nav-link" href="/admin/updateemail"><span>修改邮箱</span></a></div>
                </div>
            </li>
        </ul>
        <!-- Navigation menu sidebar ends -->
        <br>
        <!-- Upgrade notification -->
        <div class="row mx-0 upgrad-box">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="fs15 font-weight-light mb-3">温馨小提示 <a class="close-btn"><i class="material-icons">close</i></a></h4>
                        <p class="text-mute">所有数据都是经过数据库提取后使用算法进行分析，信息数据具有周期性！</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Upgrade notification ends -->

        <!-- Setting link -->

        <!-- Setting link -->
    </div>
    <!-- Sidebar ends -->
       <!-- wrapper starts -->
    <div class="wrapper">
        <div class="content shadow-sm">

            <div class="container-fluid header-container">
                <div class="row header">
                    <div class="container-fluid " id="header-container">
                        <div class="row">
                            <!-- Header starts -->
                            <nav class="navbar col-12 navbar-expand ">
                                <button class="menu-btn btn btn-link btn-sm" type="button">
                                    <i class="material-icons">menu</i>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <!-- search starts -->
                                    <form class="form-inline search mr-auto" style="opacity: 0;">
                                        <input style="color: black" class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-link btn-sm" type="submit"><i class="material-icons">search</i></button>
                                    </form>
                                    <!-- search ends -->

                                    <!-- large desktop market rates starts -->
                                    <div class="mx-auto d-none d-xxl-inline">
                                        <h2 style="font-weight: 300;font-size: 1.8rem">招聘信息网大数据信息展示平台</h2>
                                    </div>
                                    <!-- large desktop market rates ends -->

                                    <!-- icons dropwdowns starts -->
                                    <ul class="navbar-nav ml-auto">
                                        <!-- flag dropdown-->
                                        <li class="nav-item dropdown select-flag">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="flag-icon flag-icon-in"></span>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown0">
                                                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-in"></span> <span class="ml-2">China</span></a>
                                                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-in"></span> <span class="ml-2">China</span></a>
                                                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-in"></span> <span class="ml-2">China</span></a>
                                                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-in"></span> <span class="ml-2">China</span></a>
                                            </div>
                                        </li>

                                        <!-- message dropdown-->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">email</i>
                                                <span class="counter bg-danger">1</span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-sm-left dropdown-menu-center no-defaults pt-0 overflow-hidden" aria-labelledby="navbarDropdown5">
                                                <div class="position-relative text-center rounded">
                                                    <div class="background">
                                                        <img src="../../static/assets/img/background-part.png" alt="">
                                                    </div>
                                                    <div class="py-3 text-white">
                                                        <h5 class="font-weight-normal">留言板</h5>
                                                        <p>实时掌握最新留言动态</p>
                                                    </div>

                                                </div>
                                                <div class="scroll-y h-320 d-block">
                                                    <a class="dropdown-item border-top new" href="/admin/info">
                                                        <div class="row">
                                                            <div class="col-auto align-self-center">
                                                                <i class="material-icons text-template-primary">message</i>
                                                            </div>
                                                            <div class="col pl-0">
                                                                <div class="row mb-1">
                                                                    <div class="col">
                                                                        <p class="mb-0 mainuname"></p>
                                                                    </div>
                                                                    <div class="col-auto pl-0">
                                                                        <p class="small text-mute text-trucated mt-1 maintime"></p>
                                                                    </div>
                                                                </div>
                                                                <div class="mainmessage">

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </a>
                                                    <a class="dropdown-item border-top new" href="/admin/info">
                                                        <div class="row">
                                                            <div class="col-auto align-self-center">
                                                                <i class="material-icons text-template-primary">message</i>
                                                            </div>
                                                            <div class="col pl-0">
                                                                <div class="row mb-1">
                                                                    <div class="col">
                                                                        <p class="mb-0 mainuname"></p>
                                                                    </div>
                                                                    <div class="col-auto pl-0">
                                                                        <p class="small text-mute text-trucated mt-1 maintime"></p>
                                                                    </div>
                                                                </div>
                                                                <div class="mainmessage">

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </a>
                                                    <a class="dropdown-item border-top new" href="/admin/info">
                                                        <div class="row">
                                                            <div class="col-auto align-self-center">
                                                                <i class="material-icons text-template-primary">message</i>
                                                            </div>
                                                            <div class="col pl-0">
                                                                <div class="row mb-1">
                                                                    <div class="col">
                                                                        <p class="mb-0 mainuname"></p>
                                                                    </div>
                                                                    <div class="col-auto pl-0">
                                                                        <p class="small text-mute text-trucated mt-1 maintime"></p>
                                                                    </div>
                                                                </div>
                                                                <div class="mainmessage">

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </a>
                                                    <a class="dropdown-item border-top new" href="/admin/info">
                                                        <div class="row">
                                                            <div class="col-auto align-self-center">
                                                                <i class="material-icons text-template-primary">message</i>
                                                            </div>
                                                            <div class="col pl-0">
                                                                <div class="row mb-1">
                                                                    <div class="col">
                                                                        <p class="mb-0 mainuname"></p>
                                                                    </div>
                                                                    <div class="col-auto pl-0">
                                                                        <p class="small text-mute text-trucated mt-1 maintime"></p>
                                                                    </div>
                                                                </div>
                                                                <div class="mainmessage">

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- profile dropdown-->
                                        <li class="nav-item dropdown ml-0 ml-sm-4">
                                            <a class="nav-link dropdown-toggle profile-link" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <figure class="rounded avatar avatar-30">
                                                    <img  src="{{img}}" alt="">
                                                </figure>
                                                <div class="username-text ml-2 mr-2 d-none d-lg-inline-block">
                                                    <h6 class="username"><span>Welcome,</span><span>{{uname}}</span></h6>
                                                </div>
                                                <figure class="rounded avatar avatar-30 d-none d-md-inline-block">
                                                    <i class="material-icons">expand_more</i>
                                                </figure>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right w-300 pt-0 overflow-hidden" aria-labelledby="navbarDropdown6">
                                                <div class="position-relative text-center rounded py-5">
                                                    <div class="background">
                                                        <img src="../../static/assets/img/background-part.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="text-center mb-3 top-60 z-2">
                                                    <figure class="avatar avatar-120 mx-auto shadow"><img  src="{{img}}" alt=""></figure>
                                                </div>
                                                <h5 class="text-center mb-0" id="baseuname">{{uname}}</h5>
                                                <p class="text-center">{{email}}</p>
                                                <p class="text-center text-secondary fs13">登陆时间:{{nowtime}}</p>
                                                <a class="dropdown-item border-top" href="/admin/info">
                                                    <div class="row">
                                                        <div class="col-auto align-self-center">
                                                            <i class="material-icons text-success">account_box</i>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <p class="mb-0">个人中心</p>
                                                            <p class="small text-mute text-trucated">Update details and information</p>
                                                        </div>
                                                        <div class="col-auto align-self-center text-right pl-0">
                                                            <i class="material-icons text-mute small">chevron_right</i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item border-top" href="javascript:void(0)" data-toggle="modal" data-target="#UserLogout">
                                                    <div class="row">
                                                        <div class="col-auto align-self-center">
                                                            <i class="material-icons text-danger">exit_to_app</i>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <p class="mb-0 text-danger">注 销</p>
                                                            <p class="small text-mute text-trucated">Logout</p>
                                                        </div>
                                                        <div class="col-auto align-self-center text-right pl-0">
                                                            <i class="material-icons text-mute small text-danger">chevron_right</i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- icons dropwdowns starts -->
                                </div>
                            </nav>
                            <!-- Header ends -->
                        </div>
                    </div>
                </div>

            </div>

            <!-- Main container starts -->
            {% block body %}

            {% endblock %}
            <!-- Main container ends -->

        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md text-center text-md-left align-self-center">
                        <p style="color:#0000ffa1;text-align:center">以上信息纯属个人收集,请勿用于商业行为！</p>
                    </div>

                </div>
            </div>
        </footer>
    </div>
    <!-- wrapper ends -->

    <!-- Chat  window and buttons ends -->

    <!-- Theme style picker modal window and options -->
    <div class="wrap-fixed-float wrap-fixed-bottom-right">
        <button class="btn btn-primary btn-rounded-circle shadow" data-target="#themepicker" data-toggle="modal"><i class="material-icons vm">style</i><span class="counter-small bg-danger"></span></button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="themepicker" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content shadow-lg-dark overflow-hidden">
                <button type="button" class="closePersonalize" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="modal-body">
                    <div class="background h-320">
                        <img src="../../static/assets/img/background-part.png" alt="">
                    </div>
                    <div class="text-center pb-5">
                        <h1 class="mt-3 mb-0 text-white">Personalize</h1>
                        <h4 class="mb-5 text-white font-weight-light">Make it more like yours</h4>
                    </div>

                    <div class="row top-60">
                        <div class="col-6 col-md-6 col-lg-3 mb-4">
                            <div class="card border-0 shadow bg-white h-100">
                                <div class="card-body text-center">
                                    <i class="avatar avatar-60 md-36 material-icons text-template-primary my-3">format_shapes</i>
                                    <h6 class="mb-3">Font Size</h6>
                                    <div class="row">
                                        <div class="col-12 px-0">
                                            <ul class="list-group list-group-flush mb-0 text-left">
                                                <li class="list-group-item">
                                                    XS
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="radio" name="fontsize" class="custom-control-input" id="xsmallfs">
                                                        <label class="custom-control-label" for="xsmallfs"></label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    S
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="radio" name="fontsize" class="custom-control-input" id="smallfs" checked>
                                                        <label class="custom-control-label" for="smallfs"></label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    M
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="radio" name="fontsize" class="custom-control-input" id="mediumfs">
                                                        <label class="custom-control-label" for="mediumfs"></label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    L
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="radio" name="fontsize" class="custom-control-input" id="largefs">
                                                        <label class="custom-control-label" for="largefs"></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-3 mb-4">
                            <div class="card border-0 shadow bg-white h-100">
                                <div class="card-body text-center">
                                    <i class="avatar avatar-60 md-36 material-icons bg-light-warning text-warning my-3">style</i>
                                    <h6 class="mb-3">Sidebar</h6>
                                    <div class="row">
                                        <div class="col-12 px-0">
                                            <ul class="list-group list-group-flush mb-0 text-left">
                                                <li class="list-group-item">
                                                    Normal
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="radio" name="sidebar" class="custom-control-input" id="sidebarfull" checked>
                                                        <label class="custom-control-label" for="sidebarfull"></label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    Compact
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="radio" name="sidebar" class="custom-control-input" id="sidebarCompact">
                                                        <label class="custom-control-label" for="sidebarCompact"></label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    Iconic
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="radio" name="sidebar" class="custom-control-input" id="sidebarIconic">
                                                        <label class="custom-control-label" for="sidebarIconic"></label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    Fill Color
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="checkbox" class="custom-control-input" id="sidebarFill">
                                                        <label class="custom-control-label" for="sidebarFill"></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-3 mb-4">
                            <div class="card border-0 shadow bg-white h-100">
                                <div class="card-body text-center">
                                    <i class="avatar avatar-60 md-36 material-icons bg-light-danger text-danger my-3">menu</i>
                                    <h6 class="mb-3">Header</h6>
                                    <div class="row">
                                        <div class="col-12 px-0">
                                            <ul class="list-group list-group-flush mb-0 text-left">
                                                <li class="list-group-item">
                                                    Fixed Top
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="checkbox" class="custom-control-input" id="headerfixed">
                                                        <label class="custom-control-label" for="headerfixed"></label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    Fixed Width
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="checkbox" class="custom-control-input" id="headercontainer">
                                                        <label class="custom-control-label" for="headercontainer"></label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    Fill Color
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="checkbox" class="custom-control-input" id="headerfillcolor">
                                                        <label class="custom-control-label" for="headerfillcolor"></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-3 mb-4">
                            <div class="card border-0 shadow bg-white h-100">
                                <div class="card-body text-center">
                                    <i class="avatar avatar-60 md-36 material-icons bg-light-success text-success my-3">subtitles</i>
                                    <h6 class="mb-3">Content</h6>
                                    <div class="row">
                                        <div class="col-12 px-0">
                                            <ul class="list-group list-group-flush mb-0 text-left">
                                                <li class="list-group-item">
                                                    Square
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="checkbox" name="sidebar" class="custom-control-input" id="wrapperCorner">
                                                        <label class="custom-control-label" for="wrapperCorner"></label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    Full Width
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="checkbox" name="sidebar" class="custom-control-input" id="contentWidth">
                                                        <label class="custom-control-label" for="contentWidth"></label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    Spacious
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="checkbox" name="sidebar" class="custom-control-input" id="moderntouch">
                                                        <label class="custom-control-label" for="moderntouch"></label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    Fullscreen
                                                    <div class="custom-control custom-switch float-right">
                                                        <input type="checkbox" name="sidebar" class="custom-control-input" id="fullscreen">
                                                        <label class="custom-control-label" for="fullscreen"></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer border-0 pt-0">
                    <div class="row w-100 mx-0">
                        <div class="col-12 col-md-6 text-center">
                            <h6><i class="material-icons vm mr-1">brightness_2</i> Dark</h6>
                            <div class="avatar avatar-30 bg-dark style-picker" data-target='style-black-dark'></div>
                            <div class="avatar avatar-30 bg-darkblue style-picker" data-target='style-darkblue-dark'></div>
                            <div class="avatar avatar-30 bg-purple style-picker" data-target='style-purple-dark'></div>
                            <div class="avatar avatar-30 bg-blue style-picker" data-target='style-blue-dark'></div>
                            <div class="avatar avatar-30 bg-green style-picker" data-target='style-green-dark'></div>
                            <div class="avatar avatar-30 bg-pista style-picker" data-target='style-pista-dark'></div>
                            <div class="avatar avatar-30 bg-orange style-picker" data-target='style-orange-dark'></div>
                            <div class="avatar avatar-30 bg-tomato style-picker" data-target='style-tomato-dark'></div>
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <h6><i class="material-icons vm mr-1">brightness_7</i> Light</h6>
                            <div class="avatar avatar-30 bg-dark style-picker" data-target='style-black-light'></div>
                            <div class="avatar avatar-30 bg-darkblue style-picker" data-target='style-darkblue-light'></div>
                            <div class="avatar avatar-30 bg-purple style-picker" data-target='style-purple-light'></div>
                            <div class="avatar avatar-30 bg-blue style-picker" data-target='style-blue-light'></div>
                            <div class="avatar avatar-30 bg-green style-picker" data-target='style-green-light'></div>
                            <div class="avatar avatar-30 bg-pista style-picker" data-target='style-pista-light'></div>
                            <div class="avatar avatar-30 bg-orange style-picker" data-target='style-orange-light'></div>
                            <div class="avatar avatar-30 bg-tomato style-picker" data-target='style-tomato-light'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="UserLogout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div style="border: 1px solid #1fc96e66" class="modal-content bg-success text-white">
                <div class="modal-header  border-0">
                    <h5 class="modal-title" id="exampleModalLabel">Cancellation indication</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center">
                    <img src="../../static/assets/img/power.png" style="width: 40px">
                    <p style="font-size: 16px;margin-top: 7px">确定要注销吗？</p>
                </div>
                <div class="modal-footer border-0" style="padding-top: 5px;">
                    <button type="button" class="btn btn-danger" onclick="logout()">确定</button>
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>





</body>


<!-- Global js mandatory -->
    <script src="../../static/assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/assets/js/popper.min.js"></script>
    <script src="../../static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/assets/vendor/cookie/jquery.cookie.js"></script>
<!-- Global js ends -->
<!-- date range picker -->
    <script src="../../static/assets/vendor/daterangepicker-master/moment.min.js"></script>
    <script src="../../static/assets/vendor/daterangepicker-master/daterangepicker.js"></script>
<!-- Chart js -->
    <script src="../../static/assets/vendor/chartjs/Chart.min.js"></script>
    <script src="../../static/assets/vendor/chartjs/utils.js"></script>
<!-- Circular progress js  -->
    <script src="../../static/assets/vendor/circle-progress/circle-progress.min.js"></script>
<!-- Sparklines js  -->
    <script src="../../static/assets/vendor/sparklines/jquery.sparkline.min.js"></script>
<!-- gaugechart js  -->
    <script src="../../static/assets/vendor/gauge-chart/gauge.min.js"></script>
<!-- DataTables js  -->
    <script src="../../static/assets/vendor/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="../../static/assets/vendor/DataTables-1.10.18/js/dataTables.responsive.min.js"></script>
    <script src="../../static/assets/vendor/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
<!-- vector maps js  -->
    <script src="../../static/assets/vendor/jquery-jvectormap/jquery-jvectormap.js"></script>
    <script src="../../static/assets/vendor/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../../static/assets/vendor/jquery-toast-plugin-master/dist/jquery.toast.min.js"></script>
<!-- Vendor or 3rd party js ends -->
<!-- Customized template js mandatory -->
    <script src="../../static/assets/js/main.js"></script>
<!-- Customized template js ends -->
<!-- theme picker -->
    <script src="../../static/assets/js/style-picker.js"></script>
<!-- theme picker ends -->
<!-- Customized page level js -->
    <script src="../../static/assets/js/networking-dashboard.js"></script>
    <script src="../../static/assets/js/index.js"></script>
    <script src="../../static/assets/js/echarts.min.js"></script>
    <script src="../../static/assets/js/china.js"></script>
    <script src="../../static/assets/js/index_up.js"></script>
    <script src="../../static/assets/js/ckeditor.js"></script>

    <script>
        $(document).ready(function () {
            var mainuname=document.querySelectorAll('.mainuname');
            var maintime=document.querySelectorAll('.maintime');
            var mainmessage=document.querySelectorAll('.mainmessage');
            var messagess = {{message|safe}}
            for (var ii= 0 ;ii<messagess.length;ii++){
                mainuname[ii].innerHTML = messagess[ii][0];
                maintime[ii].innerHTML = messagess[ii][1];
                mainmessage[ii].innerHTML = messagess[ii][2];
            }

        });

    </script>
    <script>
        function logout() {
            window.location.href = '/admin/logout'
            }
    </script>
    <!--</body>-->
    {% block script %}
    {% endblock %}
</html>